.navbar {
    .navbar-brand {
    }
    .navbar-images {
        .ssl {
            @media (max-width: 1000px) {
            display: none
            }

        }

        .security {
            @media (min-width: 999px) {
                display:none

            }
        }
    }
}
